/* CSS Document */

.bought{
width:100%;
background-color:#eee;
}
.bought ul{
width:65%;
height:68px;
vertical-align:middle;
background-color:#f1f1f1;
margin:0 auto;
border-top:#FF6699 2px solid;
}
.bought ul li{
width:20%;
height:68px;
font-size:18px;
font-family:Arial, Helvetica, sans-serif;
text-align:center;
line-height:68px;
font-weight:900;
border-right:#eaeaea 1px solid;
}
/*.bought .serve{
padding-right:150px;
}*/
span.price{
color:#fc6506;

}
#buy{
display: block;
    float: right;
    width: 108px;
    height: 40px;
    border-radius: 3px;
    background: #fc6506;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 15px;
    margin-top: 14px;
	
}
.three{
width:67%;
margin:0 auto;

}
.ti{
padding-left:199px;
}

#light img{
width:100%;
height:508px;
}
#number{
width:70%;



}
#serve{
width:70%;
height:168px;

}
