/* CSS Document */
.find{
width:74%;
height:470px;
background-color:#eaeaea;
margin:0 auto;
padding-top:40px;
}
.find-title{
width:85%;
height:390px;
background-color:#FFFFFF;
margin-left:90px;
vertical-align:middle;
}
.find-title ul li{
width:40%;
height:340px;
float:left;
}
.find-li{
padding-right:90px;
}
.find-ri{
padding-top:50px;
}
.find-ri img{
width:82%;
height:80%;
vertical-align:middle;
}
.serve{

}
input{
display:block;
}
.mid{
vertical-align:middle;
margin-top:60px;
margin-left:50px;

}

.repari-entry{
height:42px;
width:260px;
margin-bottom:10px;
}
.repari-entry1{
height:43px;
margin-bottom:30px;
width:150px;

}
#submit_btn{
background-color:#FF0033;
color:#FFFFFF;

}
#change_security_code_btn{
font-size:14px;
color:#CCCCCC;
}